body {
  text-align: center;
  font-family: sans-serif;
}

#nav-bar {
  display: flex;
  background-color: #7586f0;
  position: fixed;
  margin: -100px 0 0 -8px;
  padding-right: 100%;
  z-index: 1;
}

#header-img {
  width: 100px;
}

li {
  list-style: none;
}

.navul {
  display: flex;
  align-items: center;
  margin-left: 80px;
  font-size: 25px;
}

a {
 text-decoration: none;
}

.nav-link2 {
  width: 150px;
  color: #06070a;
}

.nav-link2:hover {
 color: white;
}

#main {
  margin-top: 100px;
  margin-bottom: -20px;
  margin-left: -20px;
  margin-right: -5px;
  background-color: #7586f0;
}

#email {
  width: 300px;
  height: 30px;
}

#submit, .select {
  background: #040e4d;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: bold;
}

.subform {
  margin-top: 13px;
}

section {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%; 
  margin-bottom: 100px;
  font-weight: 600;
}

#info {
  margin-top: 70px;
}

.icon1 {
  position: absolute;
  left: 200px;
  top: 300px;
}

.icon2 {
  position: absolute;
  left: 200px;
  top: 470px;
}

.icon3 {
  position: absolute;
  left: 200px;
  top: 650px;
}

#prices {
  display: flex;
  margin: 150px 100px 150px 250px;
}

.infopric {
  border: 5px solid #1405a1;
  margin-left: 30px;
}

.select {
  margin-bottom: 30px;
}

.infopric ul {
  margin-right: 30px;
}

.pcname {
  border-bottom: 2px solid #1405a1;
}

.infopric ul li {
 margin-top: 20px;
 font-family: 'Andale Mono', monospace;
}

.copyright {
  font-family: 'Arial Narrow', sans-serif;
}

.copyright ul {
  display: flex;
  margin-left: 570px;
}

.copyright ul li {
  margin-left: 20px;
  font-weight: 600;
}
