body {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(#0032d4b0, #132d85, #132d85,#132d85, #0032d4b0);
}

#nav-bar {
  display: flex;
  background-color: #0b092e;
  position: fixed;
  margin: -100px 0 0 -8px;
  padding-right: 100%;
  z-index: 1;
}

#header-img {
  width: 100;
  height: 78;
}

li {
  list-style: none;
}

.navul {
  display: flex;
  align-items: center;
  margin-left: 800px;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.nav-link2 {
  width: 150px;
  color: ghostwhite;
}

.nav-link2:hover {
  color: red;
}

#main {
  margin-top: 100px;
  margin-bottom: -20px;
  margin-left: -10px;
  margin-right: -8px;
}

#email {
  width: 300px;
  height: 30px;
}

#submit,
.select {
  background: #040e4d;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: bold;
}

.subform {
  margin-top: 13px;
}

section {
  text-align: left;
  margin-left: 150;
  margin-right: auto;
  padding-right: 150;
  color: #d1d4e0;
  font-weight: bold;
  font-size: 18;
}

#info {
  padding-top: 70px;
}

.icon1,
.icon2,
.icon3 {
  display: inline-block;
  margin-right: 10px;
}

#prices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 150px;
}

.infopric {
  border-radius: 5px;
  padding: 20px;
  width: auto;
  max-width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.select {
  cursor: pointer;
  margin-top: 20px;
}

.infopric ul li {
  text-align: left;
  padding-left: 20px;
}

.copyright ul li {
  display: inline-block;
  margin-right: 20px;
}

iframe {
  margin-top: 60;
  margin-bottom: 60;
}

@media screen and (max-width: 1000px) {}